.notesContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    .noteContainer {
        background: #eaeaea;
        width: 230px;
        border-radius: 14px;
        padding: 20px;
        margin: 5px;
        color: #2d2d2d;
        word-wrap: break-word;
        min-height: 130px;
        .buttonContainer {
            padding-left: 190px;
            button {
                padding-top: 5px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                width: 45px;
            }
        }
        textarea {
            max-width: 210px;
        }
    }
}

